<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julo.weatherdex.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".pages.search.WeatherSearchCityActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Weatherdex">
        </activity>

        <activity
            android:name=".pages.detail.WeatherDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Weatherdex"
            android:windowSoftInputMode="adjustResize" />
    </application>


</manifest>

